name: Test Helm Charts

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Test basic-service chart
        run: |
          chmod +x test/test-basic-service.sh
          ./test/test-basic-service.sh

      - name: Test external-service chart
        run: |
          chmod +x test/test-external-service.sh
          ./test/test-external-service.sh

